.toolbar{
	height:40px;
  background-color: rgba(0,0,0,0.6);
	/*color: #99979c;	*/
}
.toolbar span{
    height: 40px;
    vertical-align: -webkit-baseline-middle;
}
.toolbar span:hover{
	color: #fff;
}
