
/deep/ html{
width:100%;height:100%;
margin:0px;
}

/deep/ body {
width:100%;height:100%;
margin:0px;
}
/deep/ app-root{
	width:100%;height:100%;
}

/deep/ app-repertoryMainPage{
	width:100%;
	height:100%;
}


.tab_bar{
	position:absolute;
	bottom:0px;
	width:100%;
	height:65px;
	background-color:#fff;
	border-top:1px solid #aaa;
}
.icon_bar{
	font-size:35px;
}
.icon_bar_f{
  font-size:13px;
}

.tab_bar_item{
	padding-top: 10px;
    padding-left: 30px;
    width: 90px;
    line-height: 10px;
}
.icon_bar_f{
	font-size: 12px;
    padding-left: 3px;
}
