<div class="contend">
  <div class="footer">
    <app-lineLayout [orientType]="'horizontal'" class="footer_basic" >
      <div class="tail_basic">商务合作</div>
      <div class="tail_basic">新闻投稿</div>
      <div class="tail_basic">关于我们</div>
      <div class="tail_basic">版权申明</div>
    </app-lineLayout>
    <app-lineLayout [orientType]="'horizontal'">
      <div class="tail_line_info"></div>
    </app-lineLayout>
    <app-lineLayout [orientType]="'horizontal'">
      <div class="tail_line_info">不良信息举报邮箱：news@onlinedown.net</div>
    </app-lineLayout>
    <app-lineLayout [orientType]="'horizontal'">
      <div class="tail_line_info">Copyright © 2018-2019 版权所有：乾坤袋科技有限公司</div>
    </app-lineLayout>

  </div>


</div>
