<app-fileHeaderPage tag="1"></app-fileHeaderPage>

<div class="contend">
  <div class="ness_item">
    <div class="ness_tit"><span>Windows装机必备</span> </div>
    <div class="item">
      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
        </div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

    </div>


  </div>


  <div class="ness_item">
    <div class="ness_tit"><span>ios必备</span> </div>
    <div class="item">
      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
          <div>
            <img class="item_icon" src="https://b.zol-img.com.cn/soft/6_32x32/88/ce568CD90rYxY.png"  title="QQ2019&nbsp;最新官方版" />
            <span class="item_name">QQ2019.V1.0</span>
          </div>
        </div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

      <div class="item_block">
        <div class="item_tit">系统辅助</div>
        <div class="item_trangle"></div>
        <div class="item_contend">item1111</div>
      </div>

    </div>


  </div>

</div>
