<app-fileHeaderPage></app-fileHeaderPage>


<div class="contend">
  <div class="cate_path">您当前的位置是：乾坤软件/软件分类</div>
  <div class="cate_area">



    <div class="cate_item"  *ngFor="let cate of cates;">
      <div class="cate_name">{{cate.cateName}}</div>
      <div class="cate_children">
        <div class="cate_label" *ngFor="let childCate of cate.children">{{childCate.cateName}}</div>
      </div>

    </div>

    <div class="cate_item">
      <div class="cate_name">桌面软件</div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
      <div>
        <div class="cate_label">浏览器</div>
        <div class="cate_label">即时通讯</div>
        <div class="cate_label">即时通讯</div>
      </div>
    </div>


  </div>

</div>
