.contend {
  width: 72vw;
  margin-left: auto;
  margin-right: auto;
}



.footer{
  width: 72vw;
  height: 300px;
}

.tail_basic {
  width:25%;
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 14px;
}
.tail_line_info{
  width:100%;
  text-align: center;
  margin-top: 10px;
  color: #777;
  font-size: 14px;
}

