<div>
    <h3>线性布局</h3>
    <app-lineLayout [orientType]="'horizontal'">
        <div>area1</div>
        <div>area2</div>
        <div>area3</div>
    </app-lineLayout>


    <h3>瀑布流布局</h3>
    <app-masonryLayout [columns]="3">
        <div>
            <h4>itemCard1</h4>
            <p></p>
        </div>

        <div>
            <h4>itemCard2</h4>
            <p></p>
        </div>

        <div>
            <h4>itemCard3</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard4</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard5</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard6</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard7</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard8</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard9</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard10</h4>
            <p></p>
        </div>
        <div>
            <h4>itemCard11</h4>
            <p></p>
        </div>
    </app-masonryLayout>
</div>