<div class="bg-product">
	<app-lineLayout [orientType]="'horizontal'">
		<div>
			<app-imageCard class="product_item" [type]="'vertaical'" [imagePath]="'/assets/images/slider/infor-1.jpg'">商品1</app-imageCard>
		</div>
		<div>
			<app-imageCard class="product_item" [type]="'vertaical'" [imagePath]="'/assets/images/slider/infor-2.jpg'">商品2</app-imageCard>
		</div>
	</app-lineLayout>
	
	<app-lineLayout [orientType]="'horizontal'">
		<div>
			<app-imageCard class="product_item_f" [type]="'vertaical'"  [imagePath]="'/assets/images/slider/infor-1.jpg'">商品1</app-imageCard>
		</div>
		<div>
			<app-imageCard class="product_item_f" [type]="'vertaical'"  [imagePath]="'/assets/images/slider/infor-2.jpg'">商品2</app-imageCard>
		</div>
		<div>
			<app-imageCard class="product_item_f" [type]="'vertaical'"  [imagePath]="'/assets/images/slider/infor-2.jpg'">商品2</app-imageCard>
		</div>
		<div>
			<app-imageCard class="product_item_f" [type]="'vertaical'"  [imagePath]="'/assets/images/slider/infor-2.jpg'">商品2</app-imageCard>
		</div>
	</app-lineLayout>
	
	<app-lineLayout [orientType]="'horizontal'">
		<div>
			<app-imageCard class="product_item_o" [type]="'horizontal'" [imagePath]="'/assets/images/slider/infor-1.jpg'">商品1</app-imageCard>
		</div>
	</app-lineLayout>

</div>

