.swiper-container {
  width: 100%;
  height:100%;
}

.swiper-container img{
	width:100%;
}

.poi{
	position:absolute;
	top:0px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	left:150px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	margin-left:300px;
}

.swiper-container-horizontal>.swiper-scrollbar{
	left:300px;
}
