.swiper-container {
  width: 100%;
  height:100%;
}

.swiper-container img{
	width:100%;
	height:100%;
}

.poi{
	position:absolute;
	top:0px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	/*left:150px;*/
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	/*margin-left:300px;*/
}

.swiper-container-horizontal>.swiper-scrollbar{
	/*left:300px;*/
}

.swiper-button-white{
  height: 35px;
}

.sw_tit{
  position: absolute;
  background-color: rgba(61, 154, 100, 0.7);//rgba(0,0,0,0.1);
  width: 100%;
  height:36px;
  line-height: 36px;
  z-index:333;
  color: rgba(255,255,255,1);
  /*font-weight: bolder;*/
  padding-left: 10px;
}
